@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  /* initial the main colors */
  --c-Primary: #6c5dd3;
  --c-Primary-Soft: #f0eeff;
  --c-DarkPurple: #11142d;
  --c-Orange: #ff754c;
  --c-White: #fff;
  --c-Grey-01: #aaaaaa;
  --c-Grey-02: #e1e1e1;
  --c-Grey-03: #f0f0f0;
  /* initial the main assets */
  --shadow-03: 0px 25px 33px rgba(255, 255, 255, 0.25);
  --shadow-02: 0px 25px 33px rgba(108, 93, 211, 0.25);
  --shadow-01: 0px 29px 39px rgba(0, 0, 0, 0.01);
}
* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Cairo", sans-serif !important;
}
body {
  color: var(--c-DarkPurple) !important;
  font-family: "Cairo", sans-serif !important;
  direction: rtl !important;
  color: var(--main-color);
}

/* main classes  */
.shadow-03 {
  box-shadow: 0px 25px 33px rgba(255, 255, 255, 0.25);
}
.shadow-02 {
  box-shadow: 0px 25px 33px rgba(108, 93, 211, 0.25);
}
.shadow-01 {
  box-shadow: 0px 29px 39px rgba(0, 0, 0, 0.01);
}

.c-primary {
  color: var(--c-Primary) !important;
}
.bg-primary {
  background-color: var(--c-Primary);
}

/* Navbar */
.search-bar {
  width: 50% !important;
}

.search-bar svg {
  color: var(--c-Primary) !important;
  width: 12px;
}

.star-outer::after {
  content: "\f005";
  width: 20px;
  height: 20px;
  font-weight: 600;
  color: var(--c-Grey-01);
  font-family: "Font Awesome 6 free";
}
.star-inner::after {
  content: "\f005";
  width: 20px;
  height: 20px;
  font-weight: 600;
  color: var(--c-Orange);
  font-family: "Font Awesome 6 free";
}
/* components  */
.btn-primary {
  color: var(--c-White);
  background-color: var(--c-Primary);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
  background-color: #584aaf;
}

.btn-primary-soft {
  color: var(--c-Primary);
  background-color: var(--c-Grey-03);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
}
.btn-primary-soft:hover {
  background-color: var(--c-Grey-02);
}

.book-cover {
  width: 100%;
}

/* desktop first  */

.active-view {
  color: var(--c-Primary);
}
.list-view {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.list-view .book {
  display: flex;
  gap: 1rem;
}
.list-view .book img {
  width: 14rem;
}
.list-view .book .heading {
  display: flex;
}
.list-view .book h3 {
  font-size: 1.4rem;
}
.list-view .book .rating {
  align-self: flex-start;
}
.list-view .book .rating-count {
  display: flex;
}
.list-view .book .description {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* mobile  */
@media screen and (max-width: 640px) {
  .search-bar {
    width: 100% !important;
  }
}
/* tablet  */
@media screen and (max-width: 767.5px) {
  .search-bar {
    width: 100% !important;
  }
}

/* btn book-details */

.btnDet {
  width: 213px;
  height: 50px;
  background: #ebe8fe;
  border-radius: 14px;
}
.pagination-container {
  --transform: -50%;
  display: flex;
  align-items: center;
}
/* the next button */
.pagination-container li:last-child {
  background-color: var(--c-Grey-03);
  border-radius: 10px;
  padding: 8px 10px 8px 6px;
}
/* the Previous  button */
.pagination-container li:first-child {
  background-color: var(--c-Grey-03);
  border-radius: 10px;
  padding: 6px 10px 10px 10px;
}

.page-number {
  padding: 6px 15px;
  border-top: solid 1px var(--c-Grey-02);
  border-bottom: solid 1px var(--c-Grey-02);
}
.page-number:nth-last-child(2) {
  border-left: solid 1px var(--c-Grey-02);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 10px;
}
.page-number:nth-child(2) {
  border-right: solid 1px var(--c-Primary);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 10px;
}
.active-page-number {
  position: relative;
  background-color: var(--c-Primary);
  color: var(--c-White);
  border-radius: 8px;
  border-color: var(--c-Primary);
}
.active-page-number::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  translate: var(--transform) -100%;
  width: 100%;
  border-top: solid 1px var(--c-Grey-02);
}
.active-page-number::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  translate: var(--transform) 100%;
  width: 100%;
  border-bottom: solid 1px var(--c-Grey-02);
}

/**===============dashboard ================**/
.dashboard-aside ul li {
  color: var(--c-DarkPurple);
}
.dashboard-aside ul li:hover:not(.active):not(.disabled) {
  background-color: var(--c-Grey-03);
}
.dashboard-aside ul .active {
  background-color: var(--c-Primary);
  color: var(--c-White);
}
